@media screen and (max-width: 1400px){
    .logoImage{
        width: 25% !important;
          }
   
}
@media screen and (max-width: 1000px){
    .logoImage{
        width: 30% !important;
    }
}

@media screen and (max-width: 800px){
    .logoImage{
        width: 38% !important;
    }
}

@media screen and (max-width: 600px) {
    .Table-titles {
      grid-template-columns: repeat(4, 1fr); /* Set the grid to 4 columns */
    }
  
    .Product_ID {
      display: none !important; /* Hide the Product ID column */
    }
    .Table-datas{
        grid-template-columns: repeat(4, 1fr); /* Set the grid to 4 columns */
    }
  }
  


  /* Loading Icon  */

.loaderIcon {
    --uib-size: 35px;
    --uib-color: #157EBC;
    --uib-speed: 1s;
    --uib-stroke: 3.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.9);
  }
  
  .Iconbar {
    width: var(--uib-stroke);
    height: 100%;
    background-color: var(--uib-color);
    transition: background-color 0.3s ease;
  }
  
  .Iconbar:nth-child(1) {
    animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
      infinite;
  }
  
  .Iconbar:nth-child(2) {
    animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
      infinite;
  }
  
  .Iconbar:nth-child(3) {
    animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
      infinite;
  }
  
  .Iconbar:nth-child(4) {
    animation: grow var(--uib-speed) ease-in-out infinite;
  }

  
@keyframes grow {
    0%,
    100% {
      transform: scaleY(0.3);
    }
  
    50% {
      transform: scaleY(1);
    }
  }

    /* Loading Icon End  */